.selector {
  display: flex;
  align-items: center;
  justify-content: center;

  &__date {
    margin: 0 2rem;
  }

  &__button {
    cursor: pointer;
    border: none;
    background: transparent;
  }
}

.date {
  width: 200px;
  text-align: center;
}
